.msgError{
    color:red;
    font-size: 12px;
    margin:0;
}

.required_field::after {
    content: " *";
    color: #dc3545;
    font-weight: bold;
}

/*======== QUITAR CREDITOS FILEPOUND ===========*/
.filepond--credits {
    display: none !important;
}

/* Elevar lightGallery por encima del modal */
.lg-backdrop {
    z-index: 999999999999999999 !important;
}

.lg-outer {
    z-index: 999999999999999999 !important;
}

.lg-toolbar,
.lg-sub-html,
.lg-thumb-outer {
    z-index: 999999999999999999 !important;
}

