.msgError{
    color:red;
    font-size: 12px;
    margin:0;
}

.required_field::after {
    content: " *";
    color: #dc3545; 
    font-weight: bold;
}

/*======== QUITAR CREDITOS FILEPOUND ===========*/
.filepond--credits {
    display: none !important;
}
